body {
  background-color: #f8f1ca; }

header {
  padding: 0cm;
  margin: 0cm; }

ul nav .menu {
  background-color: #f8f1ca;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul nav .menu li {
    padding: 15px;
    display: inline-block; }
    ul nav .menu li a {
      color: white;
      display: inline-block;
      padding: 25px 110px;
      text-decoration: none; }
      ul nav .menu li a:hover {
        color: #f8f1ca;
        background-color: #42B881; }

.col {
  margin: 0cm; }

section h1 {
  font-family: 'Lora', serif;
  font-family: 'Martel', serif; }

section h1.tituloservicios {
  text-align: center; }

section h2 {
  font-family: 'Lora', serif;
  font-family: 'Martel', serif; }

section h3 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Lora', serif;
  font-family: 'Martel', serif; }

section p {
  font-family: 'Lora', serif;
  font-family: 'Martel', serif;
  font-family: 'Shadows Into Light', cursive;
  padding: 5em; }

section img {
  display: inline-block; }

section .formulario {
  margin-left: 25%;
  margin-right: 25%; }

section label {
  font-family: sans-serif; }

section input {
  background-color: skyblue;
  width: 10rem;
  height: 2rem;
  border: solid 2px rgba(40, 65, 206, 0.658);
  border-radius: 3rem; }

section div.form {
  margin-top: 2rem;
  margin-bottom: 2rem; }

section div.text {
  margin-left: 15rem; }

section .video {
  margin-left: 45rem; }

section .card {
  margin-left: auto;
  margin-right: auto;
  align-items: center; }

section .presentacion {
  display: flex;
  overflow: hidden;
  padding: 1rem; }

section .carousel-inner {
  padding-top: 2rem;
  padding-bottom: 17rem;
  padding-right: 14rem;
  padding-left: 14rem; }

footer {
  border: 0em;
  padding: 0em; }
