header{
    padding: 0cm;
    margin: 0cm;
}
ul {
    nav{
        .menu{
            background-color:$bg_claro;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 15px;
        display: inline-block;
            a {     color: white;
                &:hover{
                    color:$bg_claro;
                    background-color: $bg_verde;
                    }
                display: inline-block;
                padding: 25px 110px;
                text-decoration: none;
                }
                    }  
        }        
    }
}
.col{
    margin: 0cm;
}